body {
background: #fcf3de;
font-family: arial;
}

h1 {font-size: xx-large;
background-color: #ffd6af}

h2 {font-size: x-large;
  background-color: white;
font-family: sans-serif;
padding-bottom: 30px}


h3 {font-size: large;}

.blogs {padding-bottom: 10px} 


footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

